<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Blackjack</title>
</head>
<body>
<h1>Blackjack</h1>
<h2>Dealer</h2>

{% for dealer in dealer_list%}
    <p>{{dealer}}</p>
{% endfor %}

<img src="{{dcard1}}">
<img src="{{dcard2}}">

<br>
<h2>Player 1</h2>
<h3>{{name}}</h3>

{% for player in player_list%}
    <p>{{player}}</p>
{% endfor %}

<img src="{{pcard1}}">
<img src="{{pcard2}}">


<button onClick="window.location.reload();">Refresh Page</button>



</body>
</html>